<h1 class="menu__title">
    Profile <span class="menu__title--add">
        Please, add your personal
        information
    </span>
</h1>

<div class="register-form">
    <form action="">
        <label class="register__label" for="name">Name:</label>
        <input class="register__input" type="text" placeholder="Enter your name">
        <label class="register__label" for="allergies">Allergies:</label>
        <div class="block-chosen-dishes">
            <div class="chosen-dishes">
                <p class="dishes-name">Cereals containing gluten</p>
                <img class="alergy-img" src="images/wheat.svg" alt="wheat">
                <p class="dishes-describe">
                    wheat, rye, spelt, barley, amelcorn, unripe spelt grain
                    ...
                </p>
                <input class="checkbox" type="checkbox" name="check1" id="check1">
                <label class="checklabel dishes-remove" for="check1">add</label>
            </div>
            <div class="chosen-dishes">
                <p class="dishes-name">Crustaceans </p>
                <img class="alergy-img" src="images/crab.svg" alt="crab">
                <p class="dishes-describe">crabs, lobster, crayfish, shrimp and prawn ...</p>
                <input class="checkbox" type="checkbox" name="check1" id="check2">
                <label class="checklabel dishes-remove" for="check2">add</label>
                <!-- <p class="">add</p> -->
            </div>
            <div class="chosen-dishes">
                <p class="dishes-name">Egg</p>
                <img class="alergy-img" src="images/eggs.svg" alt="egg">
                <p class="dishes-describe">including products with egg</p>
                <input class="checkbox" type="checkbox" name="check1" id="check3">
                <label class="checklabel dishes-remove" for="check3">add</label>
                <!-- <p class="">add</p> -->
            </div>
            <div class="chosen-dishes">
                <p class="dishes-name">Milk</p>
                <img class="alergy-img" src="images/milk.svg" alt="milk">
                <p class="dishes-describe">including lactose</p>
                <input class="checkbox" type="checkbox" name="check1" id="check4">
                <label class="checklabel dishes-remove" for="check4">add</label>
                <!-- <p class="">add</p> -->
            </div>
            <div class="chosen-dishes">
                <p class="dishes-name">Lupin</p>
                <img class="alergy-img" src="images/lupin.svg" alt="lupin">
                <p class="dishes-describe">
                    flour, lupin flakes, lupinus, lupine, lupini or lupine
                    beans...
                </p>
                <input class="checkbox" type="checkbox" name="check1" id="check5">
                <label class="checklabel dishes-remove" for="check5">add</label>
                <!-- <p class="">add</p> -->
            </div>
            <div class="chosen-dishes">
                <p class="dishes-name">Molluscs</p>
                <img class="alergy-img" src="images/shell.svg" alt="shell">
                <p class="dishes-describe">squid, snails, clams, oysters and scallops...</p>
                <input class="checkbox" type="checkbox" name="check1" id="check6">
                <label class="checklabel dishes-remove" for="check6">add</label>
                <!-- <p class="">add</p> -->
            </div>



        </div>
        <button class="button-order">Save</button>

    </form>
</div>