<h1 class="menu__title">Chosen dishes </h1>
<p class="menu__title summary">Total: <span>$700</span></p>
<div class="block-chosen-dishes">
    <div class="chosen-dishes">
        <p class="dishes-name">Borshch zelenyi z pampushkami</p>
        <p class="dishes-mass">100/50</p>
        <p class="dishes-describe">byfdchnjcnfbdnuhjcmn vrdjcndnvnvuhfnvrevffsvv</p>
        <P class="dishes-count plus-minus">
            <span>-</span>
            <span class="count-item">1</span>
            <span>+</span>
        </P>

        <p class="dishes-remove">remove</p>
    </div>
    <div class="chosen-dishes">
        <p class="dishes-name">Borshch zelenyi z pampushkami</p>
        <p class="dishes-mass">100/50</p>
        <p class="dishes-describe">byfdchnjcnfbdnuhjcmn vrdjcndnvnvuhfnvrevffsvv</p>
        <P class="dishes-count plus-minus">
            <span>-</span>
            <span class="count-item">1</span>
            <span>+</span>
        </P>

        <p class="dishes-remove">remove</p>
    </div>
    <div class="chosen-dishes">
        <p class="dishes-name">Borshch zelenyi z pampushkami</p>
        <p class="dishes-mass">100/50</p>
        <p class="dishes-describe">byfdchnjcnfbdnuhjcmn vrdjcndnvnvuhfnvrevffsvv</p>
        <P class="dishes-count plus-minus">
            <span>-</span>
            <span class="count-item">1</span>
            <span>+</span>
        </P>

        <p class="dishes-remove">remove</p>
    </div>
    <div class="chosen-dishes">
        <p class="dishes-name">Borshch zelenyi z pampushkami</p>
        <p class="dishes-mass">100/50</p>
        <p class="dishes-describe">byfdchnjcnfbdnuhjcmn vrdjcndnvnvuhfnvrevffsvv</p>
        <P class="dishes-count plus-minus">
            <span>-</span>
            <span class="count-item">1</span>
            <span>+</span>
        </P>

        <p class="dishes-remove">remove</p>
    </div>

</div>
<button class="button-order">Order</button>